.row.margin-0
  .seven.columns.centered.l-spark-logo
    = image_tag "SPARK-OF-LOVE-LOGO-2012.PNG"

.row.margin-0
  .seven.columns.centered
    %dl.tabs.mobile
      %dd.active
        %a#toys_show.large{:href => "#toys"} Toys needed?
      %dd
        %a#map_show.large{:href => "#maptab"} Drop off locations
    %ul.tabs-content
      %li#toysTab.active
        .row
          %div.donate.panel.boxshadow.opacity-96
            %p We currently need more Toys for:
            .xl-type Kids ages 13 - 17
        .row
          .five.columns.bg-color
            %p Current toys collected grouped by age:
          .seven.columns.panel.boxshadow
            #donut_chart.chart
      %li#maptabTab
        .row
.row.margin-0
  .seven.column.centered.panel.boxshadow.opacity-96
    %p
      With every new, unwrapped toy, or sports equipment valued at $10 or more you will receive
      one free Verismo latte.*
    %small *At participating Starbucks locations.
.row.margin-0
  .seven.column.centered.panel.boxshadow.mobile-four
    %p
      Tweet that "You've Donated" with the hash tag #TeamSpark and
      follow @yeti_media to be entered to win a free Starbucks Gift card.
    .twitter
      %a.twitter-hashtag-button{:href => "https://twitter.com/intent/tweet?button_hashtag=#{Settings.twitter.hashtag}&text=#{Settings.twitter.text}", "data-size" => "large", "data-related" => "yeti_media,starbucks"} Tweet to Win
.row.margin-0.about-button
  = link_to "About this campaign" , "#", "data-reveal-id" => "aboutModal", :class => "button"
.row.margin-0.about-button
  = link_to "Rules", "#", "data-reveal-id" => "termsModal", :class => "button success"
.row.margin-0
  .six.columns.centered
    %P Sponsored by:
    .six.columns
      = link_to (image_tag "yetilogo.png"), "http://yeti-media.com", :target => "_blank"
    .three.columns
      = image_tag "sblogo.png"


.map.l-map-top-of-page.opacity-0
  = gmaps("markers" => {"data" => @json}, "map_options" => {"auto_adjust" => false, "zoom" => 12 , "provider" => "google", "provider_key" => Settings.maps.key,"center_on_user" => true ,"center_latitude" => 33.784426, "center_longitude" => -118.011017 })
  %p.margin-bottom-40.mobile-four.bg-color
    Drop off your new, unwrapped toys or sports equipment at
    a Starbucks near you.

#termsModal.reveal-modal
  = render "rules"

#aboutModal.reveal-modal
  = render "about"
