.row.m-b-10
  .columns.centered.l-spark-logo{"data-0" => "width: 80%; opacity: 1", "data-300" => "width: 83%; opacity: 0"}
    = image_tag "SPARK-OF-LOVE-LOGO-2012.PNG"
.row.margin-0
  .seven.columns.centered
    .row
      %p.padding.header-bg.m-t-b-30
        With every new, unwrapped toy, or sports equipment valued at $10 or more you will receive
        one free Verismo latte.*
        %br
        %small *At participating Starbucks locations.
    %div.snow-man{"data-200-top-top" => "transform[bounce]:rotate(0deg);top: 0px; opacity: 1", "data--500-bottom-top" => "transform[bounce]:rotate(33deg);top: 500px; opacity: 0"}
      %span{data: {'picture' => true}}
        %span{data: {'src' => 'assets/snowmanDT1280.png'}}
.row.margin-0#locations
  .seven.columns.centered
    .row
      %h2.header-bg Drop off locations
      .map.panel.opacity
        %p.margin-bottom-40
          Drop off your new, unwrapped toys or sports equipment at
          a Starbucks near you.
          %br
          = link_to "Find a Location", "#", "data-id" => "mapModal", :class => "button m-t-5"
          %br
          = link_to "Spark of Love events", "#", "data-id" => "eventsModal", :class => "button m-t-5"
.row.margin-0         
  .seven.columns.centered
    .row#toys
      %h2.header-bg Toys needed
      %div.donate.panel.opacity
        %p We currently need more Toys for:
        .xl-type Kids ages 13 - 17
        %p
          = link_to "Suggested Donation Items", "#", "data-id" => "suggestModal", :class => "button m-t-5"
        %p
          .fb-like{"data-href" => "http://givethruyeti.com", "data-send" => "false", "data-show-faces" => "false", "data-width" => "100", "data-layout" => "button_count"}  
.row.margin-0.about-button
  = link_to "About this campaign" , "#", "data-id" => "aboutModal", :class => "button"
.row.margin-0.about-button
  = link_to "Rules", "#", "data-id" => "termsModal", :class => "button success"
.row.margin-0
  .six.columns.centered
    %P Sponsored by:
    .six.columns.mobile-four
      = link_to (image_tag "yetilogo.png"), "http://yeti-media.com", :target => "_blank"
    .three.columns.mobile-four.sb-logo
      = image_tag "sblogo.png"
