
.row.tweleve.columns
  .twitter
    %a.twitter-hashtag-button{:href => "https://twitter.com/intent/tweet?button_hashtag=#{Settings.twitter.hashtag}&text=#{Settings.twitter.text}", "data-size" => "large", "data-related" => "yeti_media,starbucks"} Tweet


  %div.donate
    %a{href: "sms://#{Settings.donation.number}?body=#{Settings.donation.body}"} Donate to Spark of Love

  %div.map
    = gmaps4rails(@json)


  #donut_chart

  = link_to "About" , "/about.html"


= javascript_include_tag 'welcome.js'
