!!!
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{content: "True", name: "HandheldFriendly"}/
    %meta{content: "320", name: "MobileOptimized"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0", name: "viewport"}/
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}/
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black-translucent"}/
    %meta{content: "on", "http-equiv" => "cleartype"}/
    %title Give to Spark of Love Thru Yeti Media and Starbucks
    / Included CSS Files
    = stylesheet_link_tag "application"
    %script{:type => "text/javascript", :src => "//use.typekit.net/tzl1sgs.js"}
    %script{:type => "text/javascript"}
      try{Typekit.load();}catch(e){}
    = csrf_meta_tags
  %body{"data-0" => "background-position:0px 0px;", "data-2000" => "background-position:0px 1000px;"}
    :plain
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=468578209843897";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>  
    #skrollr-body
      = render "nav"
      .l-container.row
        = yield
    / Modals
    #termsModal.reveal-modal
      = render "rules"
    #aboutModal.reveal-modal
      = render "about"
    #suggestModal.reveal-modal
      = render "suggestions"
    #eventsModal.reveal-modal
      = render "events"
    #enterModal.reveal-modal
      = render "enter-to-win"
    #mapModal.reveal-modal
      = render "map"    
    / Included JS Files
    = javascript_include_tag '//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry'
    = javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'
    = javascript_include_tag "application"
    :javascript
      $(document).ready(function(){
        window.map_render = function (){
          var handler = Gmaps.build('Google');
          handler.buildMap({ provider: {zoom: 16}, internal: {id: 'map'}}, function(){
            var markers = handler.addMarkers(#{raw @json.to_json});
            handler.bounds.extendWith(markers);
            if (window.navigator.geolocation) {
              var failure, success;
              success = function(position) {
                handler.map.centerOn({ lat: position.coords.latitude, lng: position.coords.longitude });  
              };
              failure = function(message) {
                alert('Cannot retrieve location!');
              };
              navigator.geolocation.getCurrentPosition(success, failure, {
                maximumAge: Infinity,
                timeout: 5000
              }); 
            }          
        });}
      });

  
